<div class="page-header"><center><h1>Editing Bitotsav Volunteer</h1></center></div>

<%= render 'form' %>

<div class="btn btn-link"><center><%= link_to 'Show', @bitotsav_volunteer %> |</center></div>
<div class="btn btn-link"><center><%= link_to 'Back', bitotsav_volunteers_path %></center></div>
