<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>-->
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src=""></script>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    
    
    <title>BIT Deets</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/error_email.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <script type="text/javascript" src="/js/footer.js"></script>

    

    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Navigation</span>
                  <span class"icon-bar"></span> 
                  <span class"icon-bar"></span> 
                  <span class"icon-bar"></span>   
              </button>

              <a class="navbar-brand" href="/"><img src="/img/deets-new.png" alt="brand" width="50px" height="auto"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home<span class="sr-only"></span></a></li>
                
                <li class="dropdown">
                  <a href="#" id="club-list" class="dropdown-toggle" data-toggle="dropdown">Clubs</a>
                            <div class="club-layout">
                                <div class="col-2">
                                    <h5>Clubs in BIT</h5>
                                </div>

                            <div class="clear"></div>

                            <div class="col-1">
                                <div class="list-caption">Technical</div>
                                <ul>
                                    <li><a href="https://bitdeets.in/acm">ACM</a></li>
                                    <li><a href="https://bitdeets.in/edc">EDC</a></li>
                                    <li><a href="https://bitdeets.in/firebolt">Firebolt</a></li>
                                    <li><a href="https://bitdeets.in/ieee">IEEE</a></li>
                                    <li><a href="https://bitdeets.in/iet">IET</a></li>
                                    <li><a href="https://bitdeets.in/iete">IETE</a></li>
                                    <li><a href="https://bitdeets.in/iiche">IICHe</a></li>
                                    <li><a href="https://bitdeets.in/robolution">Robolution</a></li>
                                    <li><a href="https://bitdeets.in/srijan">Srijan</a></li>
                                    <li><a href="https://bitdeets.in/sae">SAE</a></li>
                                 </ul> 
                            </div>

                            <div class="col-1">
                                <div class="list-caption">Cultural</div>
                                <ul>
                                    <li><a href="https://bitdeets.in/dance">Dance</a></li>
                                    <li><a href="https://bitdeets.in/dramsoc">Dramsoc</a></li>
                                    <li><a href="https://bitdeets.in/dristi">Dristi</a></li>
                                    <li><a href="https://bitdeets.in/epac">E-PAC</a></li>
                                    <li><a href="https://bitdeets.in/fas">FAS</a></li>
                                    <li><a href="https://bitdeets.in/leo">Leo</a></li>
                                    <li><a href="https://bitdeets.in/litsoc">LIT-SOC</a></li>
                                    <li><a href="https://bitdeets.in/music">Music</a></li>
                                    <li><a href="https://bitdeets.in/naps">NAPS</a></li>
                                    <li><a href="https://bitdeets.in/psoc">P-Soc</a></li>
                                    <li><a href="https://bitdeets.in/rotaract">Rotaract</a></li>
                                    <li><a href="https://bitdeets.in/smp">SMP</a></li>
                                    <li><a href="https://bitdeets.in/sac">SAC</a></li>
                                    <li><a href="https://bitdeets.in/unesquo">UNESQUO</a></li>
                                </ul> 
                            </div>
                            </div>
                </li>                       

                        

                        

              </ul>

              <form class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search"/>
                  </div>

                  <button type="submit" class="btn btn-default">Submit</button>               
              </form>

              <ul class="nav navbar-nav navbar-right">
                   <li><a href="login.html">Login</a></li>
                   <li><a href="feedback.html">Feedback</a></li>
                   <li><a href="about.html">About</a></li>         
              </ul>
            </div>
          </div>
        </nav>   
      
        
        <div class="body-cover">
          <h2>UPDATES VIA MAIL</h2><br><br><br><br>
          <% if flash[:notice] %>
            <p><%= flash[:notice] %></p>
            <% else %>
          <p>A confirmation link has been sent to <%= @email.mail %>.</p>
          <p>Kindly click on the link to confirm your subscription for <%= @email.club %>.</p>
          <% end %>
        </div>
        
    
    
  
    <div class="footer">

      
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span><span class="footer-text">Contact Us</span><span class="footer-text">Feedback / Suggestions</span><span class="footer-text-last">View us on Facebook</span>
      <div class="footer-site-name">bitdeets.in</div>
      <div class="share-like">
        <div class="fb-like" data-href="https://www.facebook.com/bitdeets" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>

        <div class="links">
        <a href="https://www.facebook.com/bitdeets" target="_blank"><img src="/img/fb-base.png" width="8px" height="auto" class="fb"></a><span class="space20"></span><img src="/img/tw.png" width="30px" height="25px" class="tw"><span class="space20"></span><img src="/img/gm.png" width= "16px" height="16px" class="gm"><span class="space20"></span><img src="/img/ph.png" width="17px" height="19px" class="ph">
        </div> 

        <div class="copyright">&copy; BIT Deets<span class="rights">All Rights Reserved 2015</span></div> 
      </div>
      
    </div> 
  
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
  
</html>
